.user-info-view {
    padding: 4px 16px 0px 0px;
}

.overflow-hidden {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.date-grey {
    color: #605e5c;
}

.user-profile-pic {
    flex-shrink: 0;
}
